<div class="container mt-4" >
    <div class="card">
        <div class="card-header">
            About Component
        </div>
        <div class="card-body">
            <h3>Info : </h3>
            <ul class="list-group">
                <li class="list-group-item">Nom : <strong>{{ info.nom }}</strong></li>
                <li class="list-group-item">Email : <strong>{{ info.email }}</strong></li>
                <li class="list-group-item">Tél : <strong>{{ info.tel }}</strong></li>
            </ul>
            <form #f="ngForm" (ngSubmit)="onAddCommentaire(f.value)">
                <fieldset>
                    <legend>Ajouter Commentaire</legend>
                    <div div class="mb-3">
                        <label for="messageId" class="form-label">Message : </label>
                        <input required="" name="message" ngModel [(ngModel)]="commentaire.message" type="text"
                            class="form-control" id="messageId">
                    </div>
                    <button type="submit" [disabled]="!f.valid" class="btn btn-primary"> Ajouter Commentaire</button>
                </fieldset>
            </form>

            <div *ngIf="comments.length>0;else noComments">
                <h3>Commentaires : </h3>
                <ul class="list-group">
                    <li *ngFor="let c of comments" class="list-group-item">
                        {{ c.message }} ,
                        <span class="badge bg-warning">{{ c.date | date:'dd/MM/yyyy:HH:mm' }} </span>
                    </li>
                </ul>
            </div>
            <ng-template #noComments>
                <p>Liste des commentaires est vide.</p>
            </ng-template>
        </div>
    </div>
</div>